:root {
    --sec-dark-col: rgb(22.5, 22.5, 45);
    --main-col: rgb(25, 25, 50);
    --sec-col: rgb(30, 30, 60);
    --highlight-col: rgb(50, 50, 100);
    --text-col: rgb(255, 255, 255);
    --link-col: rgb(200, 200, 255);
    --footer-col: rgb(20, 20, 40);
    --purchase-col: rgb(100, 100, 200);
    --main-border: 1px solid var(--highlight-col);
}

body * {
    all: initial;
    appearance: auto;
    position: relative;
    display: block;
    color: var(--text-col);
    font-family: Verdana;
    box-sizing: border-box;
}

select {
    background-color: var(--sec-col);
    border: var(--main-border);
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6, label {
    color: var(--text-col);
}

a {
    color: var(--link-col);
    cursor: pointer;
}

table, tbody, tr, th, td {
    appearance: none;
    border-collapse: collapse;
}

table {
    display: table;
}

tbody {
    display: table-row-group;
}

tr {
    display: table-row;
}

th {
    display: table-cell;
}

td {
    display: table-cell;
}

a:hover {
    text-decoration-line: underline;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#main {
    width: 100svw;
    background-color: var(--main-col);
}

#main_content {
    width: 100svw;
}


/*-----override styles-----*/

/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-col);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-----sections-----*/

#sections {
    min-height: 100svh;
    overflow: hidden;
}


/*-----nav-----*/

#nav_bar {
    position: fixed;
    width: 100svw;
    height: 40px;
    background-color: var(--sec-col);
    border-color: var(--highlight-col);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    z-index: 1;
}

/*home*/
#nav_bar_home_link {
    width: min-content;
    height: min-content;
    display: flex;
    position: relative;
}

#nav_bar_home_icon {
    width: 40px;
    height: 40px;
    background-color: var(--highlight-col);
    padding: 5px;
}

#nav_bar_home_text {
    text-align: center;
    vertical-align: middle;
    font-family: Consolas;
    font-size: 16px;
    font-weight: 900;
    margin: auto 10px;
}

/*buttons*/
#nav_bar_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav_bar_buttons > * {
    width: 100%;
}

#nav_bar_buttons > *:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    opacity: 10%;
}

/*menu*/
#nav_bar_menu {
    width: 40px;
    height: 40px;
}


/*product grid*/
.product_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/*product*/
.product {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: var(--main-border);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--sec-col);
}

.product_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.product_icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 75%;
    height: 75%;
    object-fit: contain;
    transition-property: width, height, filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.product:hover .product_icon {
    width: 100%;
    height: 100%;
    filter: blur(0.5rem);
}

/*-----footer-----*/

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
    background-color: var(--footer-col);
}

#footer > .footer_section {
    min-width: 200px;
}

.footer_header {
    margin-bottom: 20px;
}

.footer_links_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*-----button-----*/

.button_style:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.button_style:hover::before {
    opacity: 0.1;
}

.button_style:active::before {
    opacity: 0.2;
}

/*-----link-----*/

a * {
    cursor: pointer;
}