#product {
    width: 400px;
    margin: 10rem auto;
    border: var(--main-border);
    border-radius: 20px;
    background-color: var(--sec-col);
    padding: 20px;
    box-sizing: content-box;
}

#product > * {
    margin: 0 auto;
}

#supplier_icon {
    width: 50%;
    min-height: 100px;
    object-fit: contain;
    margin: 10px auto;
}

#product_top {
    display: flex;
    gap: 20px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    margin: 10px 0;
    padding: 10px 0;
}

#product_top_text {
    flex: 1;
}

#product_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: var(--purchase-col);
    align-self: center;
    overflow: hidden;
}

#product_link_text {
    margin: auto;
}

#product_name {
    text-align: left;
}

#supplier_name {
    text-align: left;
}

#product_properties {
    width: 100%;
    height: 100%;
}

#product_properties tbody tr {
    width: 100%;
}

.table_cell {
    border: var(--main-border);
}

.table_cell {
    width: 50%;
    padding: 4px;
}